<h3>Update Event</h3>
<form ng-submit="submitEventForm()">
  <input type="text", placeholder="Event Name...", ng-model="editEvent.name">
  <textarea placeholder="Event Info...", ng-model="editEvent.info"></textarea>
  <input type="text", placeholder="Event Location...", ng-model="editEvent.location">
  <input type="text", placeholder="Event Address...", ng-model="editEvent.address">
  <input type="text", placeholder="Event City...", ng-model="editEvent.city">
  <input type="text", placeholder="Event State...", ng-model="editEvent.state">
  <input type="text", placeholder="Event Zip...", ng-model="editEvent.zip">
  <input type="submit">
</form>



<!-- <h4>Add Event</h4>
<a ng-click="groupShow(group.id)">Return</a>
<form ng-submit="submitEventForm()">
  <input type="text", placeholder="Event Name...", ng-model="formEventName">
  <textarea placeholder="Event Info...", ng-model="formEventInfo"></textarea>
  <input type="text", placeholder="Event Location...", ng-model="formEventLocation">
  <input type="text", placeholder="Event Address...", ng-model="formEventAddress">
  <input type="text", placeholder="Event City...", ng-model="formEventCity">
  <input type="text", placeholder="Event State...", ng-model="formEventState">
  <input type="text", placeholder="Event Zip...", ng-model="formEventZip">
  <input type="submit">
</form> -->