<h3>Update Group</h3>
<a ng-click="groupIndex()">Back to Groups</a>
<form ng-submit="submitGroupForm()">
  <input type="text", placeholder="Group Name...", ng-model="editGroup.name">
  <br>
  <textarea placeholder="Group Info...", ng-model="editGroup.info"></textarea>
  <br>
  <input type="text", placeholder="City", ng-model="editGroup.city">
  <br>
  <input type="text", placeholder="State", ng-model="editGroup.state">
  <br>
  <input type="text", placeholder="Zip Code", ng-model="editGroup.zip">
  <input type="submit">
</form>