<div class="scenic"></div>
<hr>
<h4>Current Groups</h4>
<h6 class="subheader">Click on Group for more information</h6>
<span>
  <i class="fi-plus"></i>
  <a ng-click='createNewGroup()'>Create new group</a>
</span>
<hr>
<div class="spinner" ng-show="loading()">
  <span us-spinner>
  </span>
</div>
<ul>
  <li ng-repeat="group in groups.groups">
    <a ng-click="showGroup(group.id)"><strong>{{ group.name }}</strong></a>
    <span>
      <a ng-click='editGroup(group.id)'><i class="fi-pencil"></i></a>
      <a ng-click='deleteGroup(group.id)'><i class="fi-trash"></i></a>
    </span>
    <br>
    <hr>
  </li>
</ul>