<h4>Add Group</h4>
<hr>
<form name="groupForm" ng-submit="submitGroupForm(groupForm.$valid)" novalidate>
  <input type="text", placeholder="Name", ng-model="formGroupName" required>
  <br>
  <textarea placeholder="Info", ng-model="formGroupInfo" required></textarea>
  <br>
  <input type="text", placeholder="City", ng-model="formGroupCity" required>
  <br>
  <input type="text", placeholder="State", ng-model="formGroupState" required>
  <br>
  <input type="text", placeholder="Zip Code", ng-model="formGroupZip" required>
  <span>
    <input type="submit" class="button tiny success" ng-disabled="groupForm.$invalid"> 
    <a ng-click="groupIndex()" class="button tiny alert">Cancel</a>
  </span>
</form>