<h4>Add Group</h4>
<hr>
<form ng-submit="submitGroupForm()">
  <input type="text", placeholder="Name", ng-model="formGroupName">
  <br>
  <textarea placeholder="Info", ng-model="formGroupInfo"></textarea>
  <br>
  <input type="text", placeholder="City", ng-model="formGroupCity">
  <br>
  <input type="text", placeholder="State", ng-model="formGroupState">
  <br>
  <input type="text", placeholder="Zip Code", ng-model="formGroupZip">
  <span>
    <input type="submit" class="button tiny success"> <a ng-click="groupIndex()" class="button tiny alert">Cancel</a>
  </span>
</form>