<h4>Event Info</h4>
<ul>
  <li><label>Name</label>{{ event.title }}</li>
  <li><label>Info</label>{{ event.info }}</li>
  <li><label>Location</label>{{ event.location }}</li>
  <li><label>Date</label>{{ event.start }}</li>
  <li><label>Address</label>{{ event.address }}</li>
  <li><label>City</label>{{ event.city }}</li>
  <li><label>State</label>{{ event.state }}</li>
  <li><label>Zip</label>{{ event.zip }}</li>
  <a ng-click="editEvent(event.id)">Edit</a>
  <a ng-click="deleteEvent(event.id)">Delete</a>
</ul>
<a ng-click="return()">Return</a>